<main>
  <div class="container">
    <h1 class="text-center my-3">Your posts</h2>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <div class="card my-3">
      <div class="card-body">
        <h3 class="card-title">Sample title</h3>
        <h4 class="card-subtitle mb-2 text-muted">Date</h4>
        <p class="card-text">Sample body</p>
        <a href="/edit" class="card-link">Edit</a>
        <a href="/" class="card-link">Delete</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</main>