<h1 class="text-center my-3">Sign Up</h1>
<form>
    <div class="form-group my-3">
        <label>Username</label>
        <input class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group my-3">
        <label>Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="text-center">
        <button type="submit" id="submitButton" class="btn btn-primary">Sign Up</button>
    </div>
</form>

<script src="/js/signup.js"></script>